@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes load {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: collapse;
  }
}

@keyframes load {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: collapse;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes menu {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

main .fonctionnement {
  margin-left: 0px;
}

html {
  font-family: "Roboto", sans-serif;
}

.header-logo__intro {
  font-family: "Shrikhand", cursive;
  font-size: 2.3rem;
  font-weight: 100;
}

header .header-localisation p {
  font-family: "Roboto", sans-serif;
}

main {
  font-family: "Roboto", sans-serif;
}

#page_loader {
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background-color: white;
  z-index: 99;
  -webkit-animation: load 3s forwards;
          animation: load 3s forwards;
}

.spin {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  position: absolute;
  left: 35%;
  top: 40%;
}

.header-logo__intro {
  text-align: center;
  padding-top: 1rem;
  /*margin-bottom: 1rem;
        border-bottom: $color-bg 1px solid;*/
}

.header-localisation {
  height: 60px;
  margin-top: .5rem;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  -webkit-box-shadow: 0 6px 5px -6px #949090 inset;
          box-shadow: 0 6px 5px -6px #949090 inset;
}

.header-localisation .fas {
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 5%;
}

.header-localisation p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.header-content {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 30px;
}

.header-content__title {
  width: 70%;
  font-size: 1.7rem;
}

.header-content__desc {
  width: 90%;
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 10px;
}

.header-content__btn {
  height: 60px;
  width: 60%;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  color: #fff;
  font-size: 1.1rem;
  border-radius: 2rem;
  cursor: pointer;
  border: none;
  margin-bottom: 50px;
}

footer {
  background-color: #353535;
  color: white;
  padding-bottom: 20px;
}

footer .footer-logo {
  padding-top: 30px;
  font-family: "Shrikhand", cursive;
  font-size: 2.3rem;
  font-weight: 100;
  font-size: 1.5rem;
  margin-left: 5%;
  margin-bottom: 20px;
}

footer a {
  text-decoration: none;
  color: inherit;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

footer a .fa-utensils {
  margin-right: 20px;
}

footer a .fa-hands-helping {
  margin-right: 12px;
}

.fonctionnement {
  margin-bottom: 60px;
  background-color: #fff;
  padding-bottom: 30px;
  margin-left: 0px;
}

.fonctionnement__title {
  padding-top: 30px;
  margin-bottom: 20px;
  margin-left: 5%;
}

.fonctionnement-box {
  margin-bottom: 30px;
  margin-left: 5%;
}

.fonctionnement-box__btn {
  width: 90%;
  height: 80px;
  background-color: #f6f6f6;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fonctionnement-box__btn:hover {
  background-color: #f2eafb;
}

.fonctionnement-box__btn:hover .fas {
  color: #9356DC;
}

.fonctionnement-box__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 6fr;
      grid-template-columns: 1fr 1fr 6fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  font-size: 1.1rem;
  padding-top: 25px;
}

.fonctionnement-box__content__number {
  color: #fff;
  border: #9356DC 3px solid;
  font-size: 1rem;
  background-color: #9356DC;
  width: 20px;
  border-radius: 100px;
  text-align: center;
  position: relative;
  right: 10px;
}

.fonctionnement-box__content .fas {
  color: grey;
}

.restaurant {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}

.restaurant-title {
  margin-bottom: 30px;
  margin-left: 5%;
}

.restaurant-content {
  margin-bottom: 30px;
  margin-left: 5%;
  margin-right: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr 1fr;
      grid-template-columns: 4fr 1fr 1fr;
  -ms-grid-rows: 5fr 1fr 1fr;
      grid-template-rows: 5fr 1fr 1fr;
  border-radius: 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.restaurant-content__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 20%;
  height: 30px;
  margin-top: 20px;
  margin-right: 20px;
  padding-left: 5%;
  padding-right: 5%;
  position: absolute;
  color: #278870;
  background-color: #99E2D0;
  border-radius: 4px;
}

.restaurant-content__heart {
  width: 30px;
  height: 40px;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  margin-top: 30px;
  cursor: pointer;
}

.restaurant-content .full {
  fill: url(#linear);
  visibility: collapse;
  opacity: 0;
}

.restaurant-content .empty:active {
  visibility: collapse;
}

.restaurant-content .empty:active + .full {
  visibility: visible;
  opacity: 1;
  -webkit-animation: 1s fadeIn forwards;
          animation: 1s fadeIn forwards;
}

.restaurant-content img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  border-radius: 16px 16px 0px 0px;
}

.restaurant-content h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  grid-row: 2;
  margin-left: 5%;
  padding-top: 20px;
}

.restaurant-content h2 a {
  text-decoration: none;
  color: black;
}

.restaurant-content p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  grid-row: 3;
  margin-left: 5%;
  font-size: 1.3rem;
}

.restaurant-content i {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  padding-top: 30px;
  cursor: pointer;
}

.header-logo {
  height: 60px;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Shrikhand", cursive;
  font-size: 1rem;
  font-weight: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.header-logo a {
  text-decoration: none;
  color: black;
}

.header-logo .fas {
  padding-left: 20px;
  -ms-grid-column: 1;
  grid-column: 1;
}

.header-logo__restaurant {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.header-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
}

main {
  background-color: #f6f6f6;
}

.main-title {
  background-color: #f6f6f6;
  position: relative;
  bottom: 50px;
  border-radius: 50px 50px 0px 0px;
  height: 150%;
  padding-top: 40px;
  padding-left: 20px;
  /*display: flex;
    justify-content: space-around;*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr;
      grid-template-columns: 6fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  font-size: 0.9rem;
}

.main-title__title {
  font-family: "Shrikhand", cursive;
  -ms-grid-column: 1;
  grid-column: 1;
}

.main-title__heart {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  width: 30px;
  height: 40px;
  right: 30px;
  cursor: pointer;
}

.main-title .full {
  fill: url(#linear);
  visibility: collapse;
  opacity: 0;
}

.main-title .empty:active {
  visibility: collapse;
}

.main-title .empty:active + .full {
  visibility: visible;
  opacity: 1;
  -webkit-animation: 1s fadeIn forwards;
          animation: 1s fadeIn forwards;
}

.entry {
  margin-left: 20px;
  -webkit-animation: menu 1s forwards;
          animation: menu 1s forwards;
}

.entry__title {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin-left: 10px;
}

.entry__title span {
  -webkit-text-decoration: underline #99E2D0 3px;
          text-decoration: underline #99E2D0 3px;
  text-underline-position: under left;
}

.entry-menu__box {
  margin-top: 20px;
  margin-right: 30px;
  background-color: #fff;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  height: 60px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.entry-menu__box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
  text-decoration: none;
}

.entry-menu__box a h3 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.entry-menu__box a p {
  font-weight: lighter;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.entry-menu__box a .menu__desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  font-size: 0.9rem;
}

.entry-menu__box a .price {
  font-weight: bold;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  height: 30px;
  margin-left: 0px;
  position: relative;
  left: 8%;
}

.entry-menu__box a i {
  background-color: #99E2D0;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  bottom: 33px;
  width: 0px;
  left: 13px;
  border-radius: 0 20px 20px 0;
  visibility: collapse;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  overflow: hidden;
}

.entry-menu__box a:hover > i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  width: 20%;
  /*transform: translateX(-30px);*/
}

.entry-menu__box a:hover > .menu__desc {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.entry-menu__box a:hover > .price {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.entry-menu__box a:hover > h3 {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.plats {
  margin-left: 20px;
  -webkit-animation: menu 2s forwards;
          animation: menu 2s forwards;
}

.plats__title {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin-left: 10px;
  margin-top: 20px;
}

.plats__title span {
  -webkit-text-decoration: underline #99E2D0 3px;
          text-decoration: underline #99E2D0 3px;
  text-underline-position: under left;
}

.plats-menu__box {
  margin-top: 20px;
  margin-right: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  height: 60px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.plats-menu__box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
  text-decoration: none;
}

.plats-menu__box a h3 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.plats-menu__box a p {
  font-weight: lighter;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.plats-menu__box a .menu__desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  font-size: 0.9rem;
}

.plats-menu__box a .price {
  font-weight: bold;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  height: 30px;
  margin-left: 0px;
  position: relative;
  left: 8%;
}

.plats-menu__box a i {
  background-color: #99E2D0;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  bottom: 33px;
  width: 0px;
  left: 13px;
  border-radius: 0 20px 20px 0;
  visibility: collapse;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  overflow: hidden;
}

.plats-menu__box a:hover > i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  width: 20%;
  /*transform: translateX(-30px);*/
}

.plats-menu__box a:hover > .menu__desc {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.plats-menu__box a:hover > .price {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.plats-menu__box a:hover > h3 {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.desserts {
  margin-left: 20px;
  -webkit-animation: menu 3s forwards;
          animation: menu 3s forwards;
}

.desserts__title {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin-left: 10px;
  margin-top: 20px;
}

.desserts__title span {
  -webkit-text-decoration: underline #99E2D0 3px;
          text-decoration: underline #99E2D0 3px;
  text-underline-position: under left;
}

.desserts-menu__box {
  margin-top: 20px;
  margin-right: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  height: 60px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.desserts-menu__box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
  text-decoration: none;
}

.desserts-menu__box a h3 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.desserts-menu__box a p {
  font-weight: lighter;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.desserts-menu__box a .menu__desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  font-size: 0.9rem;
}

.desserts-menu__box a .price {
  font-weight: bold;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  height: 30px;
  margin-left: 0px;
  position: relative;
  left: 8%;
}

.desserts-menu__box a i {
  background-color: #99E2D0;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  bottom: 33px;
  width: 0px;
  left: 13px;
  border-radius: 0 20px 20px 0;
  visibility: collapse;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  overflow: hidden;
}

.desserts-menu__box a:hover > i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  width: 20%;
  /*transform: translateX(-30px);*/
}

.desserts-menu__box a:hover > .menu__desc {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.desserts-menu__box a:hover > .price {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.desserts-menu__box a:hover > h3 {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.order {
  height: 60px;
  width: 60%;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  color: #fff;
  font-size: 1.1rem;
  border-radius: 2rem;
  cursor: pointer;
  border: none;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20%;
  margin-right: 20%;
}
