footer {
    background-color: $bg-footer;
    color: white;
    padding-bottom: 20px;
    .footer-logo {
        padding-top: 30px;
        @include myfood;
        font-size: 1.5rem;
        margin-left: 5%;
        margin-bottom: 20px;
    }
    & a {
        text-decoration: none;
        color: inherit;
        margin-left: 5%;
        display: flex;
        margin-bottom: 10px;
        & .fa-utensils {
            margin-right: 20px;
        }
        & .fa-hands-helping {
            margin-right: 12px;
        }
    }
}