
.header-logo {
    &__intro {
        text-align: center;
        padding-top: 1rem;
        /*margin-bottom: 1rem;
        border-bottom: $color-bg 1px solid;*/
    }
}

.header-localisation {
    height: 60px;
    margin-top: .5rem;
    background-color: $color-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    box-shadow: 0 6px 5px -6px rgb(148, 144, 144) inset;
    
    & .fas {
        width: 5%;
        display: flex;
        justify-content: space-around;
        margin-right: 5%;
        @include desktop {
            margin-right: 1%;
            } 
        
    }
    & p {
        font-family: $font-text;
        font-weight: 400;
        @include tablet {
            position: relative;
            right: 4%;
            }
        @include desktop {
            position: relative;
            right: 2%;
            } 
    }
}

.header-content {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: $color-bg-secondary;
    padding-top: 30px;
    &__title {
        width: 70%;
        font-size: 1.7rem;
    }
    &__desc {
        width: 90%;
        font-size: 1.2rem;
        font-weight: 100;
        margin-bottom: 10px;
    }
    &__btn {
        @include btn-mix;
        margin-bottom: 50px;
        @include tablet {
            width: 300px;
            }
        @include desktop {
            width: 300px;
            } 
    }
}