.restaurant-content {
    &__heart {
        height: 0px;
        width: 30px;
        display:inline-block;
        padding-top: 30px;
        margin-top: 20px;
        cursor: pointer; 
        mask:
           radial-gradient(circle at 60% 65%, red 64%, transparent 65%) top left,
           radial-gradient(circle at 40% 65%, red 64%, transparent 65%) top right,
           linear-gradient(to bottom left, red 43%,transparent 43%) bottom left ,
           linear-gradient(to bottom right,red 43%,transparent 43%) bottom right;
        mask-size:50% 50%;
        mask-repeat:no-repeat;
        background: red;
      }
      .heart::before {
        content:"";
        display:block;
        padding-top:100%;

      }
}