body {
  overflow: hidden;
  animation: no-scroll 3s forwards;
}

#page_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background: linear-gradient(45deg, $color-secondary, $color-primary);
  z-index: 99;
  overflow: hidden;
  animation: load 3s forwards;
}

.spin {
  border: 16px solid #f3f3f3;
  border-top: 16px solid $color-primary;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  position: absolute;
}
