html {
    font-family: $font-text;
}

.header-logo {
    &__intro {
        @include myfood;
    }
}

header {
    & .header-localisation {
        & p {
            font-family: $font-text;
        }
    }
}

main {
    font-family: $font-text;
}