.header-logo {
    height: 60px;
    margin-top: 10px;
    align-items: center;
    font-family: $font-title;
    font-size: 1rem;
    font-weight: 100;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    & a {
        text-decoration: none;
        color: black;
    }
    & .fas {
        padding-left: 20px;
        grid-column: 1;
    }
    &__restaurant {
        grid-column: 2/3;

    }
}

.header-img{
    & img {
        width: 100%;
        object-fit: cover;
        height: 250px;
    }
}

main {
    background-color: $color-bg-secondary;
}

.main-title {
    background-color: $color-bg-secondary;
    position: relative;
    bottom: 50px;
    border-radius: 50px 50px 0px 0px;
    height: 150%;
    padding-top: 40px;
    padding-left: 20px;
    /*display: flex;
    justify-content: space-around;*/
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr;
    font-size: 0.9rem;
    &__title {
        font-family: $font-title;
        grid-column: 1;
    }
    &__heart {
        grid-column: 2;
        grid-row: 1;
        width: 30px;
        height: 40px;
        right: 30px;
        
        cursor: pointer;
        }
        & .full {
            fill: url(#linear);
            visibility: collapse;
            opacity: 0;
            
            
        }
        & .empty:active {
            visibility: collapse;
            
            
          }
        & .empty:active + .full {
            visibility: visible;
            opacity: 1;
            animation: 1s fadeIn forwards;
        }
}

.entry{
    margin-left: 20px;
    animation: menu 1s forwards;
    &__title {
        font-size: 1.3rem;
        font-family: $font-text;
        font-weight: 100;
        text-transform: uppercase;        
        margin-left: 10px;
        & span {
            text-decoration: underline  $color-tertiary 3px;
            text-underline-position: under left;
        }
    }
    &-menu__box {
        margin-top: 20px;
        margin-right: 30px;
        flex-wrap: wrap;
        background-color: #fff;
        border-radius: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        height: 60px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        & a {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-self: center;
            color: black;
            text-decoration: none;
            & h3 {
                flex-basis: 100%;
            }
            & p {
                font-weight: lighter;
            }
            & .price {
                font-weight: bold;
            }
        }
    }
}


.plats {
    margin-left: 20px;
    animation: menu 2s forwards;
    &__title {
        font-size: 1.3rem;
        font-family: $font-text;
        font-weight: 100;
        text-transform: uppercase;        
        margin-left: 10px;
        margin-top: 20px;
        & span {
            text-decoration: underline  $color-tertiary 3px;
            text-underline-position: under left;
        }
    }
    &-menu__box {
        margin-top: 20px;
        margin-right: 30px;
        flex-wrap: wrap;
        background-color: #fff;
        border-radius: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        height: 60px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        & a {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-self: center;
            color: black;
            text-decoration: none;
            & h3 {
                flex-basis: 100%;
            }
            & p {
                font-weight: lighter;
            }
            & .price {
                font-weight: bold;
            }
        }
    }
}

.desserts {
    margin-left: 20px;
    animation: menu 3s forwards;
    &__title {
        font-size: 1.3rem;
        font-family: $font-text;
        font-weight: 100;
        text-transform: uppercase;        
        margin-left: 10px;
        margin-top: 20px;
        & span {
            text-decoration: underline  $color-tertiary 3px;
            text-underline-position: under left;
        }
    }
    &-menu__box {
        margin-top: 20px;
        margin-right: 30px;
        flex-wrap: wrap;
        background-color: #fff;
        border-radius: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        height: 60px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        & a {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-self: center;
            color: black;
            text-decoration: none;
            & h3 {
                flex-basis: 100%;
            }
            & p {
                font-weight: lighter;
            }
            & .price {
                font-weight: bold;
            }
        }
    }
}


.order {
    @include btn-mix;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
}