$font-title: 'Shrikhand', cursive;
$font-text: "Roboto", sans-serif;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg: rgb(234, 234, 234);
$color-bg-secondary: rgb(246, 246, 246);
$color-heart: linear-gradient(170deg, $color-secondary, $color-primary);